* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background-color: rgb(196, 196, 196); */
}
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

nav {
    
    background-color: #ffffff;
    padding: 3vh 3vw 3vh 3vw;
    font-family: 'Times New Roman';
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
}

nav ul li a { 
    
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-overflow:clip;
    font-size: x-large;
}

.intro h2{
    
}
.intro p{
    color:;
    background-color:;
    font-size: 1.25em;
    
}

.intro {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items:;
    justify-content: ;
    height: 864px;
    width: 1000px;
    border-style:solid;
    border-color: black;
    margin-left: 500px;
   
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 15vh;
    font-size: 20px;
    margin: auto;
}

footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    columns: 200px 3;
   
}

.footer-nav,
.contact {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-wrap: wrap;
}
.contact p {
    width: 100%;
    text-align: center;
}
.footer-nav {
    padding:60px;
}

