* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background-color: rgb(196, 196, 196); */
}
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}
nav {
    background-color: #ffffff;
    font-size: 1em;
    padding: 3vh 3vw 3vh 3vw;
    font-family: 'Times New Roman';
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
}


nav ul li a { 
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-overflow:clip;
}

.intro h2{
    ;
}
.intro p{
    color:;
    background-color:;
    
    font-size: 1.25em;
    
}

.intro {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: ;
    text-align:;
    height: 864px;
    width: 500px;
    border-style:solid;
    border-color: black;
    margin-left: 200px;
}
